@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<ul>
    <li>
        @Html.ActionLink("Sumar numeros Get", "SumarNumerosGet", "Matematicas",
            new { numero1 = 50, numero2 = 50})
    </li>
    <li>
        <a asp-controller="Matematicas" asp-action="SumarNumerosPost">Sumar numeros POST</a>
    </li>
    <li>
        <a asp-controller="Matematicas" asp-action="ConjeturaCollatz">Conjetura Collatz</a>
    </li>
</ul>